img {
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 99;
}

button {
  z-index: 999;
  position: fixed;
}
